
.dish-card {
    background-color: blanchedalmond    ;
    border: 3px solid #ccc;
    border-radius: 5px;
    padding-inline: 50px;
    margin: 10px;
    width: 600px;
    display: flex;
    text-align: center;
    align-items: center;


  }
  
  #imgs{
    width: 250px;
    height: 250px;
    padding: 30px;
  }

  #pd1{
    padding-left: 30px;
    padding-right: 30px;
  }